.bgColor {
    color: var(--white);
    background-color: var(--black);
    padding: 5rem 0;

}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.top {
    margin-bottom: 5rem;
}

.title {
    font-family: "GilroyExtraBold";
    text-transform: uppercase;
    line-height: 100%;
}

.copy {
    text-transform: uppercase;
    line-height: 100%;
}

.copy span {
    line-height: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: 1rem;
    color: var(--blue1);
}

.bottomTop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 868px) {
    .top {
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .title {
        text-align: center;
    }
}