.container {
    margin-top: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

.navItem {
    font-size: 2rem;
    text-transform: uppercase;
}