.content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    position: relative;
    z-index: 100;
}

.left {
    position: relative;
}

.left:after {
    position: absolute;
    top: 15px;
    right: -15px;
    width: 100%;
    border-radius: 8px;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right bottom,
    #4787e6, #3877d9, #2967cd, #1957bf, #0247b2);
    content: '';
}

.img {
    border-radius: 10px;
}

.title {
    text-transform: uppercase;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 568px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}